<li class="collection-item avatar">
    <img src="<%= message.avatar %>" alt="<%= message.username %>-avatar" class="circle"><span class="title" style="color: <%= message.highRoleColor %>"><%= message.username %></span>
    <p><%= message.content %></p>
</li>